* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

.navLink:hover {
    color: rgb(223, 71, 89) !important;
    font-size: 1.03rem;
    transition: ease-in-out 150ms;
}

.about:hover {
    transform: scale(1.01) !important;
    transition: ease-in-out 150ms;
}


.officer:hover {
    transform: scale(1.01) !important;
    transition: ease-in-out 150ms;
}

img {
    height: 300px;
    width: 500px;
}

.btnWhite {
    box-shadow: black 3px 2px 5px 0px;
    margin-bottom: 1rem;
    color: white !important;
}

.btnWhite:hover {
    color: black !important;
    transform:scale(1.05);
    transition: all ease-in-out 250ms;
}

.buttons {
    box-shadow: white 3px 2px 5px 0px;
    margin-bottom: 1rem;
    color: white !important;
}

.buttons:hover {
    color: black !important;
    transform:scale(1.05);
    transition: all ease-in-out 250ms;
}

.footerIcons:hover {
    transform: scale(1.1);
    transition: all ease-in-out 250ms;
}