* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Oswald', sans-serif;
}

.navLink {
    color: white !important;
}

.toggle {
    color: white !important;
    background-color: rgb(245, 245, 245) !important;
}

.navLink:hover {
    color: rgb(223, 71, 89) !important;
    font-size: 1.03rem;
    transition: ease-in-out 150ms;
}

nav ul li {
    text-decoration: none;
    list-style: none;
}

.carousel-item {
    height: 30rem;
    padding-left: 30rem;
    padding-right: 30rem;
    
}

.pic1, .pic2, .pic3 {
    opacity: .7;
    /* min-width: 30rem; */
}

/* Main {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

section {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title h1 {
    margin-top: 1.25rem;
    font-size: 3rem;
    color: #151515;
    width: 60%;
    text-align: center;
}

.title p {
    margin-top: -20px;
    height: 80px;
    font-size: 1.5rem;
    color: rgb(223, 71, 89);
}

.about {
    width: 100% !important;
}

.about h1 {
    text-align: center;
    margin-top: 2rem;
    font-size: 2rem;
    color: #151515;
}

.about-container {
    display: flex;
    justify-content: center;
}

.img1, .img2{
    display: flex;
    justify-content: center;
}

.img2 img {
    width: 80%
}

.history-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 7rem;
    margin-right: 1rem;
}

.history-container h3 {
    font-size: 28px;
    font-weight: 400;
}

.history-container p {
    margin-top: 2rem;
    line-height: 1.25;
    font-size: 20px;
    font-weight: 400;
}

.mission-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
    margin-left: 1rem;
    margin-right: 7rem
}

.mission-container h3 {
    font-size: 28px;
    font-weight: 400;
}

.mission-container p {
    margin-top: 2rem;
    line-height: 1.25;
    font-size: 20px;
    font-weight: 400;
}

.officer {
    box-shadow: grey 3px 3px 5px 0px !important;
}

.officer:hover {
    transform: scale(1.01) !important;
    transition: ease-in-out 150ms;
}

img {
    height: 300px;
    width: 300px;
}

.btnWhite {
    box-shadow: black 3px 2px 5px 0px;
    margin-bottom: 1rem;
    color: white !important;
}

.btnWhite:hover {
    color: black !important;
    transform:scale(1.05);
    transition: all ease-in-out 250ms;
}

.buttons {
    box-shadow: white 3px 2px 5px 0px;
    margin-bottom: 1rem;
    color: white !important;
}

.buttons:hover {
    color: black !important;
    transform:scale(1.05);
    transition: all ease-in-out 250ms;
}

.events, .contact, .news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact, .members {
    width: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40vh;
}

.events p {
    font-size: 2rem;
}

.contact p {
    font-size: 2rem;
}

.news p {
    margin-top: 3rem;
    padding-top: 1.25rem;
    font-size: 2rem;
    text-align: center;
    margin: 0 10%;
}

.events, footer {
    background-color: rgb(245, 245, 245);
}

.contactBtn, .newsBtn {
    width: 225px;
}

.contactBtn:hover, .newsBtn:hover, .eventsBtn:hover {
    cursor: pointer;
}

.events-page {
    color: #1b1b1b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.events-page h1, p {
    font-size: 30px;
    padding: 2.25rem 0;
}

.eventsBtn {
    text-decoration: none;
    color: white;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 1.25rem;
    background-color: rgb(245, 245, 245);
}

Footer p {
    font-size: 1.25rem;
    color: #525252;
}

Footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-width: 100%;
    margin-top: rem;
}

Footer li{
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.25rem;
    color: #151515;
}

Footer li:hover {
    color: #799A18;
    width: 100%;
    font-size: 1.4rem;
    transition: ease-in-out 250ms;
}

Footer a {
    text-decoration: none;
}

.ig {
    padding-left: 15px;
}